body {
    background: url(https://scontent-sjc.xx.fbcdn.net/hphotos-xta1/t31.0-8/1519681_632191696817226_771236786_o.jpg);
}

#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 425px;
    height: 380px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
}

#result_display {
    background: white;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 88%;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    font-size: 1.5em;
}

.row {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 90%;
    border: 2px solid;
    border-color: white;
}

.button {
    width: 22%;
    height: 65%;
    margin: 4px 0px 4px 7px;
    background: black;
    text-align: center;
    padding-top: 10px;
    color: white;
    float: left;
}